/**
 First External CSS Stylesheet
 **/


/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    ;
    font-size: 18px;
    line-height: 150%;
    color: #777777;

    background-image: url('../images/whirlpool/whirlpool.png');
    overflow: auto;
}

header {
    overflow: auto;
    background: #ffffff;
    border-color: #cccccc;
    margin-bottom: 3px;
    border-bottom: 3px solid #4aaaa5;
}

footer {
    background-color: #666666;
    clear: both;
    margin: 0;
    padding: 8px;
    text-align: center;
    color: lightgray;
    border-top: 5px solid #4aaaa5;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}
h1 {
    padding: 20px;
    margin-left: 20px;
    margin-top: 11px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    float: right;
    padding: 20px;
    margin-right: 50px;
    margin-top: 11px;
    color: #777777;
}

h2 {
    font-size: 24px;
    padding-left: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
    font-size: 18px;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    padding-top: 8px;
    border-bottom: 1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.caption-left-top {
    top:290px;
    left:61px;
}

.caption-right-top {
    top:290px;
    left: 372px;
}

.caption-left-middle {
    top:510px;
    left: 61px;
}

.caption-right-middle {
    top:510px;
    left: 372px;
}

.caption-left-bottom {
    top:730px;
    left: 61px;
}

.caption-right-bottom {
    top:730px;
    left: 372px;
}

h4 {
    position: absolute;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 217px;
    float: left;
}

.main-bio,
.contact-info,
.bio-image,
.contact-me,
.portfolio {
    float: left;
    margin: 18px;
    background-color: #ffffff;
}

.main-bio,
.contact-me,
.portfolio {
    width: 628px;
    padding: 10px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 0px;  
    border: 1px solid #dddddd;
}

.contact-info {
    width: 238px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 0;
    border: 1px solid #dddddd;
}


.bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.github-image {
    margin: 5px;
    width:60px;
    height:60px;
    margin-top: 15px;
    margin-left: 15px;
}

.linkedin-image {
    margin: 5px;
    margin-top: 15px;
    width:60px;
    height:60px;
}

.stackoverflow-image {
    margin: 5px;
    width:60px;
    height:60px;
    margin-top: 15px;
}

.emailinput,
.nameinput {
    width: 98%;
    color: #777777;
}

.messageinput {
    resize: both;
    overflow:auto;  
    display: inline-block;
    height: 50px;
    max-width: 98%;
    width: 98%;
}

.portfolio-row {
    margin-top: 30px; 
    margin-bottom: 30px;
}

.portfolio-image-left {
    height: 190px;
    width: 41%;
    float: left;
    margin-left: 30px;
}

.portfolio-image-right {
    height: 190px;
    width: 41%;
    float: right;
    margin-right: 30px;
}

.clearfix::after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@media screen and (max-width: 980px) {
.main-bio,
.contact-me,
.portfolio {
    width: 428px;
    padding: 10px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 0px;  
    border: 1px solid #dddddd;
}

}

@media screen and (max-width: 768px) {
.main-bio,
.contact-me,
.portfolio {
    width: 100%;
    padding: 10px;
    margin: 20px; 
    border: 1px solid #dddddd;
}
}

@media screen and (max-width: 640px) {

}